.feed {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    min-height: 1000px;
    
}

.feed h4 {
    padding: 5px
}

.page-title{
    margin-left: 50px;
    padding: 20px;
}

.logo{
    max-width:70%;
    height: auto;
    margin-left:50px;
    margin-top: 30px;

}